/* Default Global Styles */

body {
  background-image: url("Images/background-other_pages.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

#main_screen_for_app{
  background-image: url("Images/background-index.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

.btn-blue {
  background-color: #2F70E0;
  color: #ffffff;
  font-size: 1.2em;
}

button .btn-grey {
  background-color: #9c9c9c;
}

a{
  color: whitesmoke;
  font-size: 20px;
}

.main-header-subtitle{
	font-size: 1.7em; 
	font-weight: 600;
}

div .search_bar{
	display: block;
	width: 60%;
	margin: 0 auto;
}

#search_bar{
	display: inline-block;
	width: 75%;
}

div #search_btn{
	width: 20%;
	margin-left: 28px;
	padding: 5px 12px;
	
}

div.form-group{
	display: block;
	width: 50%;
	margin: 0 auto;
}

.form-group input{
	width: 30em;
}

#formWrapper{
	width: 80%;
	display: block;
	margin: 0 auto;
}

#formWrapper_sec{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

th {
	text-align: center;
}

.vbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  /*Align children vetically*/
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}


/* Page Headers -- Default */

.main-header-container {
  text-align: center;
}

.main-header-title {
  text-align: center;
  font-size: 3em;
}

.main-header-subtitle {
  text-align: center;
}


.form {
  max-width: 500px;
  text-align: center;
}


/* Home page*/

.main-wrapper {
  margin-left: 20%;
  margin-right: 20%;
}

.main-view__activities-button {
  margin-bottom: 10px;
  margin-top: 10px;
}

.main-view__bookings-button {
  margin-bottom: 10px;
  text-align: right
}

.main-view__previous-bookings-button {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.previous-bookings-button {
  width: 262px;
}



/* Booking Page*/


.new-booking__main {
	width: 70%;
	display: block;
	margin: 0 auto;
}

.new-booking__individual-button {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
}
.new-booking__company-button {
  margin-bottom: 10px;
  margin-top: 10px;

}

/* Activities Page*/
.activity-button {
  margin-bottom: 10px;
  margin-top: 10px;
  size: 50px;
  text-align: center;
}

img {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  margin-top: 10px;
  align: center;
  width: auto;
  height: 160px;

}

#timeString{
	margin: auto;
	text-align: center;
	
}