<body>
	<div id="timeString">
		<h3> Type in the time </h3>
		 <form action="/bookings/new/choose-customer-type" method="post">
		<input id="timebox" type="text" name="timebox" class="form control activity-time" size="40" />

			<button type="submit" class="btn btn-blue">Continue</button>
		</form>
	</div>
</body>
