<!DOCTYPE html>

<head>

</head>

<body>
    <h1> Type in the time </h1>
    <input type="text" name="timetextbox" size="40" />
    <button type="savebutton" class="btn btn-blue">Save</button>  
</body>