<section>
<p class="main-header-subtitle">Company Booking Details</p>
<form action="/bookings/new/details" method="post">
<div><label>Date of booking</label> <input name="bday" type="date" /></div>
<div><label>Activity</label> <button class="dropbtn">Dropdown</button>
<div id="myDropdown" class="dropdown-content"><a href="#">Link 1</a> <a href="#">Link 2</a> <a href="#">Link 3</a></div>
</div>
</form></section>