<section>
    <p class="main-header-subtitle">Company Booking Details</p>

    <form action="/bookings/new/details" method="post">
        <div><label>Date of booking</label> <input name="bday" type="date" /></div>

        <div>
            <label>Activity</label>
            <select>
              #if($activities)
                  #foreach ($activity in $activities)
                  <option value="huh?">$activity.getName</option>
            </select>
    </div>
    </form>
</section>