<h1>Adventure Zone</h1>
<p>New Booking</p>

<form class="" action="/bookings" method="post">
<button class="btn" type="submit" action="/individuals/new">Individual Booking</button>
</form>


<form class="" action="activities" method="post">
<button type="submit" class="btn" action="/companies/new">Company Booking</button>
</form>
