<h1> Activity Zone </h1>

    <form action='/index'>
      <button type="New Booking" class="btn">New Booking</button>
    </form>

    <form action='/activities'>
          <button type="View Activites" class="btn">View Activites</button>
    </form>

