
<h1>Adventure Zone</h1>
<p>New Booking</p>

<a class="btn-blue" href="/bookings">View / New Bookings</a>


<form class="" action="/activities" method="get">
  <button type="submit" class="btn-blue" action="/activities">View Activities</button>
</form>
