<!DOCTYPE html>
<html>
  <head>
    <title>Adventure Zone</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class="container">
      <a href="/" class="btn btn-grey"> Back to Home</a>
      <h1 class="main-header-title">Adventure Zone</h1>
      #parse( $template )
    </div>
  </body>
</html>
